<mat-toolbar color="primary" class="toolbar">
  <span>Kanban</span>
  <span class="toolbar--spacer"></span>
  <nav class="toolbar__menu">
    <ul>
      <li>
        <button
          mat-icon-button
          class="toolbar__menu_icon favorite-icon"
          aria-label="Home Option"
        >
          <mat-icon>home</mat-icon>
          <a
            href="#"
            routerLink="/home"
            routerLinkActive="active"
            class="toolbar__menu__text"
          >
            <span> Inicio </span>
          </a>
        </button>
      </li>
      <li>
        <button
          mat-icon-button
          class="toolbar__menu_icon"
          aria-label="Board Option"
        >
          <mat-icon>note</mat-icon>
          <a
            href="#"
            routerLink="/board"
            routerLinkActive="active"
            class="toolbar__menu__text"
          >
            <span> tablero </span></a
          >
        </button>
      </li>
    </ul>
  </nav>
</mat-toolbar>
